@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family: barnd_font;
    src: url();
}
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary: #561E9D;
    --primary-70: hsl(264deg 65% 35% / 70%);
    --secondary: #656565;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* this area is for navbar  */
.brand_navbar{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    box-shadow: 2px 0px 6px 0px #dbdbdb80;
}
.nav_link{
    position: relative;
    transition: all .3s;
}
.nav_link::after{
    content: "";
    display: block;
    width: 00%;
    height: 00%;
    background: transparent;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all .3s;
    border-top-right-radius: 4px;
}
.nav_link::before{
    content: "";
    display: block;
    width: 00%;
    height: 00%;
    background: transparent;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: transparent;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all .3s;
    border-bottom-left-radius: 4px;
}
.nav_link:hover{
    color: var(--primary);
}
.nav_link:hover::after, .nav_link:hover::before{
    width: 50%;
    height: 50%;
    border-color: var(--primary-70);
}
.nav_link.active::before{
    content: "";
    display: block;
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: var(--primary-70);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all .3s;
    border-radius: 4px !important;
}
.nav_link.active::after{
    content: "";
    display: block;
    width: 100% !important;
    height: 100% !important;
    background: transparent;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: var(--primary-70);
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all .3s;
    border-radius: 4px !important;
}
/* end here */
/* this area is for hero section  */
.brand-heading{
    color: var(--secondary);
}
.brand-heading span{
    color: var(--primary);
}
/* end here  */